name: NPM Registry Publish
on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Node.js Environment setup
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'
      - name: Install Dependencies
        run: npm install
      - name: Run test before publish
        run: npm test
      - name: Build project
        run: npm run build

      - name: Version bump and push
        run: |
          git config user.name "${{ secrets.ACTION_GIT_USER_NAME }}"
          git config user.email "${{ secrets.ACTION_GIT_USER_EMAIL }}"
          yarn version --${{ github.event.inputs.version_type }} -m "chore(release): %s"
          git push origin HEAD
      - name: Publish to registry
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public
